.event-card {
    width: 90%;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto
  }
  
  .event-card-header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .event-card-description {
    font-size: 16px;
  }